* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(45deg, teal 50%, wheat 50%);
}

.wrapper {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

header {
  padding: 2rem;
  background-color: teal;
  box-shadow: 0 4px 4px #000;
  color: #fff;
}

footer {
  text-align: center;
  color: #fff;
}

.create_area {
  width: 30%;
  margin: 4rem auto;
}

.create_area form input {
  width: 100%;
  padding: 5px 0;
}

.create_area form input::placeholder {
  text-align: center;
}
.create_area form button {
  text-align: center;
  padding: 4px;
  width: 100%;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.task {
  position: relative;
  margin: 2rem;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.task button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background: transparent;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 4rem;
}
